@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("../utils/font/Inter.ttf");
}

@theme {
  /* fonts */
  --font-inter: "Inter", sans-serif;

  /* text sizes */
  --text-large: 40px;
  --text-medium: 18px;
  --text-small: 16px;

  /* colors */
  --color-white: #f3f3f3;
  --color-white-opaque: rgba(243, 243, 243, 0.8);
  --color-black: #000;
  --color-gray: #636363;
  --color-gray-lightly: #e8e8ea;
  --color-gray-bluey: #d1d5db;
  --color-purple: #4b26f4;
  --color-blue: #0e7ae1;
  --color-blue-lightly: #4abff6;
  --color-blue-darkly: #1e2837;
}
